<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="Free url shortener" />
        <meta
            name="keywords"
            content="shortener, url shortener, url, tiny link, minify link, free"
        />
        <meta name="author" content="Vinicius Zenha" />
        <title>Shortener | {{ block "title" . }}{{ end }}</title>
        {{ if eq .Stage "prod" }}
        <!-- open graph -->
        <meta property="og:title" content="Shortener" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{{ .Consts.SITE_BASE_URL }}" />
        <meta
            property="og:description"
            content="URL Shortener - make a url tiny"
        />
        <meta
            property="og:image"
            content="{{ .Consts.SITE_BASE_URL }}/assets/shortener-opengrap1200-600.jpg"
        />
        <!-- Google tag (gtag.js) -->
        <script
            async
            src="https://www.googletagmanager.com/gtag/js?id=G-34F4B1KG3D"
        ></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag("js", new Date());

            gtag("config", "G-34F4B1KG3D");
        </script>
        <!-- Google Tag Manager -->
        <script>
            (function (w, d, s, l, i) {
                w[l] = w[l] || [];
                w[l].push({
                    "gtm.start": new Date().getTime(),
                    event: "gtm.js",
                });
                var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s),
                    dl = l != "dataLayer" ? "&l=" + l : "";
                j.async = true;
                j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
                f.parentNode.insertBefore(j, f);
            })(window, document, "script", "dataLayer", "GTM-MJPTQVPQ");
        </script>
        <!-- End Google Tag Manager -->
        {{ else }}
        <meta name="robots" content="noindex, nofollow" />
        {{- end }}
        <link href="/css/styles.css" rel="stylesheet" />
        <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
        <link rel="canonical" href="{{ .Consts.SITE_BASE_URL }}" />
        <link
            rel="alternate"
            hreflang="pt-br"
            href="{{ .Consts.SITE_BASE_URL }}/pt"
        />
    </head>
    <body>
        {{ if eq .Stage "prod" }}
        <!-- Google Tag Manager (noscript) -->
        <noscript
            ><iframe
                src="https://www.googletagmanager.com/ns.html?id=GTM-MJPTQVPQ"
                height="0"
                width="0"
                style="display: none; visibility: hidden"
            ></iframe
        ></noscript>
        <!-- End Google Tag Manager (noscript) -->
        {{- end }}
        <script>
            const i18nBase = JSON.parse({{.I18nStr}});
        </script>
        <script>
            const spinner = `<svg class="animate-spin  mr-3 h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
              <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
              <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
            </svg>`;
        </script>
        <script>
            function el(id) {
                return document.getElementById(id);
            }

            const localeChangeEvent = new Event("locale-change");
            const langs = Object.keys(i18nBase);
            let lang =
                (window.location.pathname.startsWith("pt") && "pt") ||
                localStorage.lang ||
                "en";
            let i18n = i18nBase[lang];
            async function setLang(l) {
                lang = l;
                i18n = i18nBase[l];
                localStorage.lang = l;
                window.dispatchEvent(localeChangeEvent);
            }

            function toggleLang() {
                const currI = langs.indexOf(lang);
                const max = langs.length - 1;
                const next = currI + 1 > max ? 0 : currI + 1;
                setLang(langs[next]);
            }

            function loadLang() {
                const els = document.querySelectorAll("[i-lang]");
                for (const el of els) {
                    const path = el.attributes["i-lang"].value;
                    const paths = path.split(".");
                    const val = paths.reduce((a, c) => a[c], i18n);
                    el.textContent = val;
                }

                el("lang_widget_content").innerHTML = lang;
            }

            window.addEventListener("locale-change", function () {
                loadTheme();
                loadLang();
            });
        </script>
        <script>
            document.addEventListener("DOMContentLoaded", (event) => {
                loadTheme();

                loadLang();
            });
            function loadTheme() {
                const themeWidget = document.getElementById(
                    "theme_widget_content",
                );
                if (
                    localStorage.theme === "dark" ||
                    (!("theme" in localStorage) &&
                        window.matchMedia("(prefers-color-scheme: dark)")
                            .matches)
                ) {
                    themeWidget.innerHTML = i18n.nav.theme.toggle_dark;
                    document.documentElement.classList.add("dark");
                } else {
                    themeWidget.innerHTML = i18n.nav.theme.toggle_light;
                    document.documentElement.classList.remove("dark");
                }
            }

            function toggleTheme() {
                const isDark =
                    document.documentElement.classList.contains("dark");
                localStorage.theme = isDark ? "light" : "dark";
                loadTheme();
            }

            function useSystemTheme() {
                localStorage.removeItem("theme");
                loadTheme();
            }
        </script>
        <!-- Toast -->
        <div
            class="fixed start-0 bottom-[-100%] w-full transition-all duration-300 ease"
            id="toast-box"
        >
            <div class="max-w-screen-lg mx-auto p-2">
                <div
                    class="flex scale-0 w-fit transition-all duration-300 ease"
                    id="toast-box-in"
                >
                    <div
                        class="bg-primary p-2 min-w-[192px] flex justify-between"
                    >
                        <h3
                            class="text-text-widget select-none"
                            id="toast-content"
                        ></h3>
                        <p
                            class="text-text-widget text-bold hover:scale-125 cursor-pointer select-none"
                            onclick="hideToaster()"
                        >
                            x
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <script>
            let hideToasterTimeoutId;
            function showToaster(txt) {
                const toastE = document.getElementById("toast-content");
                const toastBoxE = document.getElementById("toast-box");
                const toastBoxInE = document.getElementById("toast-box-in");

                const showing = toastBoxE.classList.contains("bottom-0");

                toastBoxInE.classList.remove("scale-0");
                toastBoxE.classList.remove("bottom-[-100%]");
                toastBoxE.classList.add("bottom-0");

                toastE.innerHTML = txt;

                clearTimeout(hideToasterTimeoutId);
                hideToasterTimeoutId = setTimeout(() => {
                    hideToaster();
                }, 2500);
            }
            function hideToaster() {
                const toastE = document.getElementById("toast-content");
                const toastBoxE = document.getElementById("toast-box");
                const toastBoxInE = document.getElementById("toast-box-in");
                toastBoxInE.classList.add("scale-0");
                toastBoxE.classList.remove("bottom-0");
                toastBoxE.classList.add("bottom-[-100%]");

                toastE.innerHTML = "";
            }
        </script>
        {{ block "page" . }}{{ end }}
    </body>
</html>
