{{ template "base.go.html" . }} {{ define "title" }}Shortener{{ end }} {{ define
"page" }}
<div class="min-h-screen flex flex-col bg-neutral-500">
    <!-- Toast -->
    <div
        class="fixed start-0 bottom-[-100%] w-full transition-all duration-300 ease"
        id="toast-box"
    >
        <div class="max-w-screen-lg mx-auto p-2">
            <div
                class="flex scale-0 w-fit transition-all duration-300 ease"
                id="toast-box-in"
            >
                <div class="bg-primary p-2 min-w-[192px] flex justify-between">
                    <h1
                        class="text-neutral-500 select-none"
                        id="toast-content"
                    ></h1>
                    <p
                        class="text-neutral-500 text-bold hover:scale-125 cursor-pointer select-none"
                        onclick="hideToaster()"
                    >
                        x
                    </p>
                </div>
            </div>
        </div>
    </div>
    <script>
        let hideToasterTimeoutId;
        function showToaster(txt) {
            const toastE = document.getElementById("toast-content");
            const toastBoxE = document.getElementById("toast-box");
            const toastBoxInE = document.getElementById("toast-box-in");

            const showing = toastBoxE.classList.contains("bottom-0");

            toastBoxInE.classList.remove("scale-0");
            toastBoxE.classList.remove("bottom-[-100%]");
            toastBoxE.classList.add("bottom-0");

            toastE.innerHTML = txt;

            clearTimeout(hideToasterTimeoutId);
            hideToasterTimeoutId = setTimeout(() => {
                hideToaster();
            }, 2500);
        }
        function hideToaster() {
            const toastE = document.getElementById("toast-content");
            const toastBoxE = document.getElementById("toast-box");
            const toastBoxInE = document.getElementById("toast-box-in");
            toastBoxInE.classList.add("scale-0");
            toastBoxE.classList.remove("bottom-0");
            toastBoxE.classList.add("bottom-[-100%]");

            toastE.innerHTML = "";
        }
    </script>
    <!-- navbar -->
    <div class="max-w-screen-lg mx-auto w-full">
        <div class="p-2">
            <h1 class="text-primary font-bold text-4xl">S</h1>
        </div>
    </div>
    <!-- body -->
    <div class="max-w-screen-lg mx-auto w-full flex-1 mt-[20%] flex flex-col">
        <form class="flex px-2" onsubmit="return shortenUrl(event)">
            <input class="h-10 w-full p-2" type="text" name="url" value="" />
            <button
                type="submit"
                class="bg-primary p-2 text-neutral-500 hover:scale-110 active:opacity-80"
            >
                Shorten
            </button>
        </form>
        <div
            class="mx-6 opacity-0 transition-all duration-300 ease"
            id="result-box"
        >
            <div class="border border-light mt-8 w-full flex">
                <p class="w-full p-2" id="result"></p>
                <button
                    type="submit"
                    onclick="copyResultToClibBoard()"
                    class="border border-light p-2 text-primary hover:scale-90 active:opacity-80"
                >
                    Copy
                </button>
            </div>
        </div>
        <script>
            const baseUrl =
                "https://api-dev.zenhalab.com/shortener/v1/public-api";
            let prevUrl;

            function shortenUrl(e) {
                e.preventDefault();
                const formData = new FormData(e.target);
                const formProps = Object.fromEntries(formData);
                const url = formProps["url"];
                if (!isUrl(url)) {
                    showToaster("Invalid Url ):");
                    return;
                }
                if (url === prevUrl) return;
                // fetch url
                createEntry(url).then((v) => {
                    prevUrl = url;
                    // display url
                    const resultE = document.getElementById("result");
                    const resultBoxE = document.getElementById("result-box");
                    resultBoxE.classList.remove("opacity-0");

                    resultE.innerHTML = v;
                });
            }

            async function createEntry(url) {
                const res = fetch(`${baseUrl}/url`, {
                    method: "POST",
                    body: JSON.stringify({ destination: url }),
                    headers: {
                        "Content-Type": "application/json",
                        Accept: "*/*",
                    },
                })
                    .then((r) => r.json())
                    .then((r) => r.data.url)
                    .catch(() => showToaster("Error );"));
                return res;
            }

            function copyResultToClibBoard() {
                const resultE = document.getElementById("result");
                navigator.clipboard.writeText(resultE.innerHTML).then(
                    () => showToaster("Copied"),
                    (err) => showToaster("Failed to copy"),
                );
            }

            function isUrl(url) {
                try {
                    const u = new URL(url);
                    return u.protocol === "https:";
                } catch {
                    return false;
                }
            }
        </script>
    </div>
    <!-- footer -->
    <div class="max-w-screen-lg mx-auto w-full">
        <div class="flex p-2 flex-col">
            <div class="ml-auto flex gap-6">
                <a
                    href="https://www.linkedin.com/in/vinicius-zenha/"
                    target="_blank"
                >
                    <p>linkedin</p>
                </a>
                <a href="https://github.com/vzsoares" target="_blank">
                    <p>github</p>
                </a>
            </div>
        </div>
    </div>
</div>
{{ end }}
